<h1>enter id no. to delete</h1>
<form action="/del" method="post">
    <label for="id">id:</label>
    <input type="text" id="id" name="id"><br><br>
    <input type="submit" value="delete">
  </form> 