<h1>welome</h1>
<p>enter id to delete</p>

<form action="/delete" method="get">
    <label for="id">id</label>
    <input type="text" id="id" name="id"><br><br>
    <input type="submit" value="submit">
  </form> 
